body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

#hscore-el, #gscore-el {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 6px;
}

#home-el, #guest-el {
    width: 117px;
    height: 120px;
    left: 100px;
    top: 125px;

    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;
    margin: 0 auto;
    
}

h3 {
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    text-align: center;
    color: #EEEEEE;
}


button {
    background: none;
    /* box-sizing: border-box; */
    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 20px 5px 0 0;
    /* display: flex;
    flex-direction: row;
    align-items: center;  */
    
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    text-align: center;
    color: #9AABD8;
}